* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Manrope';
}

body {
    background-color: #f4f4f6;
}

:root {
    --text-color : #222222;
    --star-color: #f0ab17;
}

h1 {
    font-weight: bold;
    text-align: center;
    margin: 40px 0 60px 0px;
}

.product-card {
    cursor: pointer;
}

.pd-price h3,.pd-name h3 {
    color: var(--text-color);
}

.ratings ul li span {
    color: var(--star-color);
}

.product-img {
    border-radius: 10px;
    transition: transform 0.3s ease;  /* Smooth transition for the zoom effect */
}

.product-img img {
    border-radius: 10px;
}

.product-img:hover{
    transform: scale(1.03);
    /* cursor: pointer; */
}